body {
background-color: #FFFFFF;
font-family: "Helvetica Neue",Helvetica, Arial, "Lucida Grande", sans-serif; 
color: #000000;
}
 
.ted-rot { 
 color: #ff2b06;

 }
 

 #event{
    position:absolute; 
    top:50%;
    text-align:center;
    width: 50%;
    height: 60%;
    float:left;
    
 }
 
  #video{
    width: 50%;
    height: 60%;
    float:right;
    
 }

 ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }

 .trucGris {
background-color: rgb(237,237,237);
height: 15px;
line-height: 15px;
margin-bottom: 10px;


 }