body {
background-color: #FFFFFF;
font-family: "Helvetica Neue",Helvetica, Arial, "Lucida Grande", sans-serif; 
color: #000000;
}

.container {
	border-top: 16px solid #EDEDED;
	border-bottom: 16px solid #EDEDED;
	padding: 10px;
}
 
.ted-rot { 
 color: #ff2b06;

 }
 
.event{
  
 }
 
.menu{
	margin-bottom: 20px;
}

.profil{
	
max-height:150px;
width: auto;

	
}

.slot{
	height: 200px;
	border: 2px solid #000000;
}
 
 .center{
     text-align:center;
 }
 
 .speakerImage{
   /*  width: 40%; "*/
     display: inline-block;
     height: auto;
     margin-bottom: 15px;
 }
 
 .speakerText{
 }
 
 ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }



.textFooter{
	 font-size: 10px;
	 text-align:center;
}
 


