body {
background-color: #FFFFFF;
font-family: "Helvetica Neue",Helvetica, Arial, "Lucida Grande", sans-serif; 
color: #000000;
}
 
.ted-rot { 
 color: #ff2b06;

 }
 

 #event{
  
    width: 50%;
    height: 35em;
    float:left;
      text-align:center;
 }
 
  #video{
    text-align:left;
    width: 50%;
     height: 35em;
    float:right;
    
 }
 .center{
     text-align:center;
 }
 .speakerImage{
     margin:5%;
     float:left;
     width:40%;
     height:20%;
 }
 
 .speakerText{
     margin: 5%;
 }
 ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }

 .trucGris {
background-color: rgb(237,237,237);
height: 18px;
margin-bottom: 10px;
 }

 .textFooter{
position: fixed;
bottom: 10px;
 }
 
.trucGrisBas {
background-color: rgb(237,237,237);
height: 16px;
position: relative;
bottom: 0px;

 }

