.profile-table {
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 5px;
	border-top:  8px solid #EDEDED;;
	box-shadow: 0 0 3px rgba(50,50,50,0.1);
}

.profile-table .row{
	border-bottom: 1px solid #EDEDED;
}


.profile-table .row:last-child {
	border:  none;	
}

.profile-table .row>* {
	border-right: 1px solid #EDEDED;
	margin-bottom: 0;
}

.profile-table .row>*:last-child {
	border:  none;
}

.profile-details {
	margin-bottom: 60px;
}



