body {
  background-color: #ffffff;
  color: #222222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
::selection {
  background-color: #fd7058;
  color: #ffffff;
}
/* ----------- Titles ------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: inherit;
}
h1 {
  font-size: 35.2px;
  line-height: 42px;
}
h2 {
  font-size: 28.8px;
  line-height: 34px;
}
h3 {
  font-size: 24px;
  line-height: 28px;
}
h4 {
  font-size: 20.8px;
  line-height: 26px;
}
h5 {
  font-size: 17.6px;
  line-height: 22px;
}
h6 {
  font-size: 16px;
  line-height: 20px;
}
/* -------- Elements ---------- */
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
a {
  color: #ff2b06;
}
a:hover,
a:focus {
  opacity: 0.8;
  text-decoration: none;
}

.link:hover,
.link:focus  {
  color: #fd7058;
  border-bottom: 1px solid #fd7058;
  padding-bottom: 2px;
  text-decoration: none;
}


/* --------- Forms --------- */
form {
  margin: 0 0 20px;
}
input {
  margin-top: 10px;
  margin-bottom: 10px;
}
legend {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  font-size: 20.8px;
  font-weight: bold;
  line-height: 24px;
}
label {
  display: block;
  margin-bottom: 8px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  height: 24px;
  padding: 4px 6px;
  margin-bottom: 12px;
  line-height: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border: 1px solid #999999;
  -webkit-box-shadow: inset 0 1px 1px #ffffff;
  -moz-box-shadow: inset 0 1px 1px #ffffff;
  box-shadow: inset 0 1px 1px #ffffff;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: #999999;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #fd7058;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #fd7058;
}
textarea {
  height: 72px;
}
button,
.button,
input[type="submit"] {
  background: #ff2b06;
  border: 1px solid #222222;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #fd7058;
  box-shadow: inset 0 0 1px 1px #fd7058;
  color: #ffffff;
  padding: 8px 0 9px;
  text-align: center;
  text-shadow: 0 1px 0 #fd7058;
  width: 150px;
}
button:hover,
.button:hover,
input[type="submit"]:hover {
  background: #fd7058;
  -webkit-box-shadow: inset 0 0 1px 1px #fd7058;
  box-shadow: inset 0 0 1px 1px #fd7058;
  color: #ffffff;
  cursor: pointer;
}
button:active,
.button:active,
input[type="submit"]:active {
  background: #d0d0d0;
  -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
  box-shadow: inset 0 0 1px 1px #e3e3e3;
  color: #000;
}

.button {
  display: inline-block;
}

a.button:hover {
  text-decoration: none;
  border-bottom: none;
  padding-bottom: 10px;
}